Q1...Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [5]:
eid= input("Enter the EmailID " ) 
cmpy= (eid.split("@")[1]).split(".")[0]
print(cmpy)

Enter the EmailID john@google.com
google

Q2...Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [6]:
data= input("Enter input separated by comma : ").split(",")
data.sort()
print(data)

Enter input separated by comma : without,hello,bag,world
['bag', 'hello', 'without', 'world ']

Q3...Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

In [9]:
setA = {"One","two","three","four","five"}
print(setA)
setA.add("six")
print(setA)

{'three', 'One', 'four', 'five', 'two'}
{'three', 'One', 'four', 'five', 'two', 'six'}

In [10]:
setB=setA.copy()
print(setB)

{'three', 'five', 'six', 'One', 'two', 'four'}

In [13]:
setB.add("seven")
setA.update(["eight","nine"])
print(setA)
print(setB)

{'nine', 'three', 'One', 'eight', 'four', 'five', 'two', 'six'}
{'three', 'five', 'six', 'One', 'two', 'four', 'seven'}

In [14]:
print(len(setA))

8

In [15]:
print(len(setB))

7

In [16]:
setA.union(setB)

{'One', 'eight', 'five', 'four', 'nine', 'seven', 'six', 'three', 'two'}

In [18]:
setA.difference(setB)

{'eight', 'nine'}

In [19]:
setA.clear()

In [20]:
setB.pop()
print(setA)
print(setB)

set()
{'five', 'six', 'One', 'two', 'four', 'seven'}

Q4...Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [23]:
def find(num):
    mini=min(num)
    maxi=max(num)
    for x in range(mini,maxi):
        if(x not in num):
            print(x)
            
num=[1, 2, 4, 6, 3, 7, 8]
find(num)

5

Q5...With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [28]:
def func(l): 
    L = [] 
    for i in l: 
        if i not in L: 
            L.append(i) 
    return L 
    
L=[12,24,35,24,88,120,155,88,120,155]
func(L)

[12, 24, 35, 88, 120, 155]