In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
dataset=pd.read_csv("general_data.csv")

In [3]:
dataset.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

H0 = There is no significant difference between MaritalStatus and gender.
H1 = There is significant difference between MaritalStatus and gender.

In [4]:
d = {'Male': 0, 'Female': 1 }
dataset["Gender"]=  dataset["Gender"].map(d).fillna(dataset['Gender'])
d = {'Single': 0, 'Married': 1,'Divorced' : 2}
dataset["MaritalStatus"]=  dataset["MaritalStatus"].map(d).fillna(dataset['MaritalStatus'])

In [8]:
chisquare = pd.crosstab(dataset.Gender,dataset.MaritalStatus)
print(chisquare)

MaritalStatus    0     1    2
Gender
0              858  1173  615
1              552   846  366

In [9]:
stats,p,dof,expected = chi2_contingency(chisquare)
print(stats,p)

6.428867202141822 0.04017808420398627

In [10]:
if(p < 0.05):
     print("Reject H0")
else:
     print("Accept H1")

Reject H0

 Thus we conclude that, There is no significant difference between MaritalStatus and gender.


# Kruskal test

In [11]:
from scipy.stats import kruskal

Hypo

HO = There is no significance difference between MaritalStatus_Single.JobLevel,MaritalStatus_Married.JobLevel,MaritalStatus_Divorced.JobLevel

H1 = There is significance difference between MaritalStatus_Single.JobLevel,MaritalStatus_Married.JobLevel,MaritalStatus_Divorced.JobLevel

In [12]:
data1=dataset[dataset["MaritalStatus"] == 0]
data2=dataset[dataset["MaritalStatus"] == 1]
data3=dataset[dataset["MaritalStatus"] == 2]

In [13]:

stats,p=kruskal(data1.JobLevel,data2.JobLevel,data3.JobLevel)
print(stats,p)

3.1654785109664862 0.2054116518517896

In [14]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H1")

Accept H1

Thus we can conclude that. There is significant difference in MaritalStatus_Single.JobLevel,MaritalStatus_Married.JobLevel,MaritalStatus_Divorced.JobLevel

# MannWhitney Test

In [15]:
from scipy.stats import mannwhitneyu

In [16]:
data1=dataset[dataset["Attrition"] == 0]
data2=dataset[dataset["Attrition"] == 1]

hypo

HO = There is no significant difference between Attrition_yes.DistanceFromHome and Attrition_No.DistanceFromHome

H1 = There is significant difference between Attrition_yes.DistanceFromHome and Attrition_No.DistanceFromHome

In [17]:
d = {'Yes':1,'No':0}
dataset["Attrition"] = dataset["Attrition"].map(d).fillna(dataset['Attrition'])

In [18]:
stats,p=mannwhitneyu(data1.DistanceFromHome,data2.DistanceFromHome)
print(stats,p)

0.0 0.0

C:\Users\LAPTOP\Anaconda3\lib\site-packages\scipy\stats\stats.py:6415: RuntimeWarning: divide by zero encountered in double_scalars
  z = (bigu - meanrank) / sd

In [19]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H1")

Reject H0

Thus we can conclude that. There is no significant difference in Attrition_yes.DistanceFromHome and Attrition_No.DistanceFromHome

# FriedManchiSquare Test

In [20]:
from scipy.stats import friedmanchisquare

In [21]:
dataset1=pd.read_excel("general_data.xlsx")
dataset1=dataset1.head(5)
dataset1

FileNotFoundError: [Errno 2] No such file or directory: 'general_data.xlsx'

Hypo

H0 = There is no significant difference in TotalWorkingYears,TrainingTimesLastYear and YearsAtCompany.

H1 = There is significant difference in TotalWorkingYears,TrainingTimesLastYear and YearsAtCompany.

In [22]:
stats,p=friedmanchisquare(dataset1.TotalWorkingYears,dataset1.TrainingTimesLastYear,dataset1.YearsAtCompany)
print(stats,p)

NameError: name 'dataset1' is not defined

In [23]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H1")

Reject H0

thus there is no significant difference in TotalWorkingYears,TrainingTimesLastYear and YearsAtCompany.

# Sample t-test

In [24]:
from scipy.stats import ttest_1samp

# Hypo

H0 = There is no significant difference in mean of employees age and population = 35

H1 = There is significant difference in mean of employees age and population = 35

In [25]:
status,p=ttest_1samp(dataset.Age,35)
print(stats,p)

0.0 1.5546387777769359e-43

In [26]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H1")

Reject H0

Thus we can see that There is no significant difference in mean of employees age and population = 35.

# 2-sampled pair test

In [27]:
from scipy.stats import ttest_rel

Hypo

H0 = There is no significant difference in TotalWorkingYears and YearsAtCompany.

H1 = There is significant difference in TotalWorkingYears and YearsAtCompany.

In [28]:
stats,p=ttest_rel(dataset1.TotalWorkingYears,dataset1.YearsAtCompany)
print(stats,p)

NameError: name 'dataset1' is not defined

In [29]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H1")

Reject H0

Thus there is no significant difference in TotalWorkingYears and YearsAtCompany.

# Two sample independent T-Test

In [30]:
from scipy.stats import ttest_ind

# Hypo

HO = There is no significance difference between mean of MonthlyIncome of employees having attrition and no-attrition

H1 = There is significance difference between mean of MonthlyIncome of employees having attrition and no-attrition

In [31]:
data1=dataset[dataset["Attrition"] == 0]
data2=dataset[dataset["Attrition"] == 1]

In [32]:
stats,p=ttest_ind(data1.MonthlyIncome,data2.MonthlyIncome)
print(stats,p)

2.0708863763619316 0.03842748490605113

In [33]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

from the above we can see that There is significance difference between mean of MonthlyIncome of employees having attrition and no-attrition.